.logo-container {
  z-index: 0;
  width: 700px;
  height: 700px;
  position: absolute;
  top: 0;
  right: 5%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(20deg) !important;
    z-index: 0;
  }

  .svg-container {
    stroke: #ffd700;
    stroke-width: 5px;
    color: #0000;
    z-index: 0;
  }
}
